* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 40px;
}

main {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  font-family: "Major Mono Display", monospace;
}

td {
  cursor: pointer;
  background-color: #fbfbfb;
  border: 1px solid grey;
  border-radius: 5px;
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 120px;
}

#game {
  padding: 30px;
}

.symbol {
  font-size: 120px;
  transition: 0.4s;
}

.active {
  color: limegreen;
}

#popup {
  position: absolute;
  display: flex;
  width: 600px;
  height: 160px;
  background-color: lightgray;
  border-radius: 20px;
  font-family: "Inter", sans-serif;
  opacity: 0.9;

  #img {
    width: 200px;
    background-image: url(./img/victory.gif);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px 0 0 20px;
    background-size: cover;
  }

  #text {
    display: flex;
    padding-left: 50px;
    flex-wrap: wrap;
    align-content: center;
    text-align: left;

    h2 {
      flex-basis: 100%;
      font-weight: 900;
    }

    p {
      font-size: 20px;
      font-style: italic;
      font-weight: 200;
    }
  }
}

.hidden {
  display: none !important;
}
